/Somador/nbproject/private/
/Somador/build/
/CalculadoraGUI/nbproject/private/
/CalculadoraGUI/build/
/CalculadoraGUI/dist/
/AcaoComunitaria/nbproject/private/
/AcaoComunitaria/build/
/Pesquisa/nbproject/private/
/Pesquisa/build/
/virus/nbproject/private/
/ComboBox/nbproject/private/
/ComboBox/build/
/ProjetoRobotica/nbproject/private/
/ProjetoRobotica/build/
/CadastroEndereço/nbproject/private/
/CadastroEndereço/build/
/CadastroDeCliente/nbproject/private/
/CadastroDeCliente/build/
/RadioButton/nbproject/private/
/CalculoDeSalario/nbproject/private/
/CalculoDeSalario/build/
/Questionario/nbproject/private/
/Questionario/build/
/JsSpiner/nbproject/private/
/JsSpiner/build/
/JsSpinnerAtt01/nbproject/private/
/JsSpinnerAtt01/build/